:host {
    flex: 1;
    display: flex;
    align-content: stretch;
    flex-direction: column;
    min-width: 1024px;
}

.employee-view {
    padding: 15px;
}

.widget {
    display: flex;
    flex: 0 0 33.333%;
    padding: 5px;
}

.details-drawer {
    margin: 15px 15px 15px 15px;
}

.drawer-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mat-form-field {
    flex: 1;
    padding-right: 15px;
}

.widget-row {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}
