:host {
    flex: 1;
}

.badge-notify {
    background: red;
    position: relative;
    top: -18px;
    left: -15px;
}

body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 25px;
    line-height: 18px;
    color: #333333;
    background-color: #ffffff;
    /* changes for better demo */
    margin: 20px 0 0;
    text-align: center;
}

.dashboard-block {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    padding: 28px;
    width: 100%;
}

.dashboard-block h3 {
    color: #fff;
    font-size: 35px;
    font-family: 'Carrois Gothic', sans-serif;
    margin: 0;
    line-height: 38.5px;
}

.dashboard-block h4 {
    font-size: 16.8px;
    line-height: 18.48px;
    color: #fff;
    margin: 5px 0;
    font-family: 'Carrois Gothic', sans-serif;
}

.dashboard-block p {
    color: #fff;
    font-size: 12.6px;
    line-height: 22.68px;
    margin: 0;
}

.dashboard-block mat-icon {
    font-size: 46.2px;
    font-weight: 100;
    width: 80px;
    height: 80px;
    background: #fff;
    text-align: center;
    border-radius: 49px;
    -webkit-border-radius: 49px;
    -moz-border-radius: 49px;
    -o-border-radius: 49px;
    line-height: 1.7em;
}

.dashboard-left {
    padding: 0px;
    text-align: left;
}

.widget-left {
    padding: 0px;
    text-align: left;
    position: relative;
    float: left;
    width: 66.6666667%;
    position: relative;
    min-height: 1px;
}

.widget-icon {
    position: relative;
    float: left;
    width: 33.3333333%;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

@media (max-width:1024px) {
    .dashboard-gd {
        padding: 5px;
    }

    .dashboard-block {
        padding: 1.5em 1.5em;
    }

    .dashboard-block i {
        font-size: 2.75em;
        width: 65px;
        height: 65px;
        border-radius: 44px;
        -webkit-border-radius: 44px;
        -moz-border-radius: 44px;
        -o-border-radius: 44px;
    }
}

@media (max-width:767px) {
    .dashboard-gd {
        float: left;
        width: 33%;
    }
}

@media (max-width:480px) {
    .dashboard-gd {
        float: none;
        width: 100%;
    }
}
