<mat-drawer-container>
    <mat-drawer #drawer mode="over" position="end" class="details-drawer" (closedStart)="drawerClosing()" [opened]="false" [autoFocus]="false">
        <div class="drawer-container">
            <app-training-form *ngIf="myTraining" [myTraining]="myTraining"></app-training-form>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <div style="min-width: 1170px; padding: 1px;">
            <div class="widget-container">

                <app-icon-widget *ngFor="let widget of widgets" [title]="widget.title" [icon]="widget.icon" [text]="widget.text" [statusColor]="widget.statusColor" [color]="widget.color" [status]="widget.status" [actionText]="widget.actionText"
                                 (widgetClick)="widgetClick($event)">
                </app-icon-widget>

            </div>

            <div class="card-container" *ngIf="data">
                <div class="column">
                    <app-card title="Ethics Team" [records]="ethicsTeam" [totalRecords]="ethicsTeam.length" [options]="options" [showRecordDate]="false" (selected)="teamSelected($event)"></app-card>
                </div>
                <div class="column">
                    <app-card title="Guidance" [records]="guidanceFiles" [totalRecords]="guidanceFiles.length" [options]="options" [showRecordDate]="true" (selected)="formSelected($event)"></app-card>
                </div>
                <div class="column">
                    <app-card title="Forms" [records]="ethicsFormFiles" [totalRecords]="ethicsFormFiles.length" [options]="options" [showRecordDate]="true" (selected)="formSelected($event)"></app-card>
                    <app-card title="Ethics Training" [records]="trainingVideos" [totalRecords]="trainingVideos.length" [options]="options" [showRecordDate]="false" (selected)="trainingSelected($event)"></app-card>
                </div>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>
