:host {
    display: flex;
    flex-direction: column;
}

.user-profile {
    display: flex;
    flex-direction: column;
}

.body {
    flex: 1;
    display: flex;
}

.left {
    display: flex;
}

.right {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}

.header {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

.employee-row {
    flex: 1;
    margin: 3px 0px;
    display: flex;
}

.employee-row > span {
    padding-left: 10px;
}

.radio-group {
    display: flex;
    margin: 15px 0;
}

.radio-button {
    margin: 5px;
}

app-employee-card {
    margin-bottom: 15px;
}
