.report-view {
    padding: 15px;
}

.report-section {
    padding-top: 25px;
    display: flex;
    flex-direction: column;
}

table tr td {
    border: 1px solid black;
}

td {
    padding: 10px;
}

table {
    border-spacing: 10px;
}

.table-row {
    align-self: center;
    max-width: 50%;
}

td.hidden {
    border-top: 0 !important;
    border-left: 0 !important;
    border-bottom: 0 !important;
}

td.value {
    text-align: center;
}

.year-select {
    align-self: center;
    max-width: 300px;
}
