<mat-drawer-container>
    <mat-drawer #drawer mode="over" position="end" class="details-drawer" (closedStart)="drawerClosing()" [opened]="false" [autoFocus]="false">
        <div class="drawer-container">
            <button mat-icon-button type="button" (click)="drawer.close()" class="drawer-close"><mat-icon>close</mat-icon></button>
            <div *ngIf="selectedExtension">
                <app-extension-request [extension]="selectedExtension" (save)="saveExtension($event)" (approve)="approveExtension($event)" (reject)="rejectExtension($event)"></app-extension-request>
            </div>
            <div *ngIf="selectedGuidance && selectedGuidance.id == 0">
                <app-guidance-edit [employee]="employee" [allowEmployeeSelect]="false" (employeeClick)="gotoEmployee($event)" (save)="saveGuidance($event)"></app-guidance-edit>
            </div>
            <div *ngIf="selectedGuidance && selectedGuidance.id > 0">
                <app-guidance-detail *ngIf="!isAdmin" [guidance]="selectedGuidance" (employeeClick)="gotoEmployee($event)"></app-guidance-detail>
                <app-guidance-edit *ngIf="isAdmin" [guidance]="selectedGuidance" [employee]="employee" [allowEmployeeSelect]="false" (employeeClick)="gotoEmployee($event)" (save)="saveGuidance($event)" (delete)="deleteGuidance($event)"></app-guidance-edit>
            </div>
            <div *ngIf="selectedForm">
                <app-form-details [form]="selectedForm" [reviewers]="reviewers" [accessLevel]="formAccessLevel" [canExtend]="canExtend" (save)="saveForm($event)" (view)="viewForm($event)" (cancel)="cancelForm($event)" (extend)="addExtension($event)"></app-form-details>
            </div>
            <div *ngIf="selectedEmployee">
                <app-employee-edit [employee]="selectedEmployee" (viewForm)="viewForm($event)" (save)="saveEmployee($event)" [canSave]="canEditEmployees()"></app-employee-edit>
            </div>
            <div *ngIf="selectedEvent">
                <app-event-request-detail [event]="selectedEvent" [reviewers]="eventReviewers" (close)="closeEvent($event)"></app-event-request-detail>
            </div>
            <div *ngIf="selectedTraining">
                <app-training-form [training]="selectedTraining" (close)="closeTraining($event)"></app-training-form>
            </div>
            <div *ngIf="selectedPosition">
                <app-outside-position-detail [position]="selectedPosition" (employeeClick)="gotoEmployee($event)" (close)="closePosition($event)"></app-outside-position-detail>
            </div>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <div class="profile-view" *ngIf="employee">
            
            <div class="employee">
                <div class="name">
                    <div class="flex-row">
                        <h1>{{ employee.displayName }}</h1>
                        <div role="button" tabindex="1" class="edit-button link" (click)="editEmployeeClick(employee)" *ngIf="isAdmin">
                            <mat-icon>settings</mat-icon>
                        </div>
                    </div>
                    <div class="flex-row justify-space title-row">
                        <div class="employee-title">{{ employee.title }}</div>
                        <div style="display: flex; gap: 10px;">
                            <button mat-flat-button color="basic" [matMenuTriggerFor]="menu"
                                    aria-label="Menu to add new Event or Outside Position Requests" class="menu" *ngIf="canEdit">
                                <mat-icon style="color: #43a047;">add</mat-icon>
                                Add New...
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="addGuidance($event)" aria-label="Add Guidance" *ngIf="isAdmin"><mat-icon>contact_support</mat-icon> Guidance</button>
                                <button mat-menu-item (click)="newEvent($event)" aria-label="New Event Request" *ngIf="canEdit"><mat-icon>event_available</mat-icon> Event Request</button>
                                <button mat-menu-item (click)="newOutsidePosition($event)" aria-label="New Outside Position" *ngIf="canEdit"><mat-icon>work</mat-icon> Outside Position</button>
                            </mat-menu>
                        </div>
                    </div>
                    <div class="flex-row">
                        <p style="margin-top: 12px; margin-right: 16px;">
                            {{ employee.bio }}
                        </p>
                    </div>
                </div>

                <div class="results">
                    <div style="display: flex; flex-direction: column; gap: 15px;">
                        <!--<span *ngFor="let form of forms" style="margin: 15px; height: 150px; width: 250px; border: 1px solid blue;">{{form.year}} - {{form.formStatus }}</span>-->
                        <app-ethics-item *ngFor="let item of getEthicItems" [item]="item" (select)="itemSelected($event)"></app-ethics-item>
                    </div>
                </div>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>

