:host {
    flex: 1;
    display: flex;
    align-content: stretch;
    flex-direction: column;
}

.profile-view {
    padding: 15px;
    display: flex;
    min-height: 100%;
    justify-content: center;
}

mat-card {
    width: 100%;
}

.drawer-container {
    position: relative;
}

.details-drawer {
    min-width: 425px;
    padding: 15px;
    margin: 15px 15px 15px 15px;
}


// Custom Style
.employee {
    padding-top: 15px;
    flex: 2 1 auto;
    display: flex;
    flex-direction: column;
}

.name {
    padding-bottom: 15px;
}

.flex-row {
    display: flex;
}

.justify-space {
    justify-content: space-between;
}

.title-row {
    margin-top: -10px;
}

.edit-button {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    margin-left: 15px;
}

.filter {
    width: 100%;
    padding: 1.34375em 15px 0 15px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    gap: 15px;
}
