<div class="pageHeader">
    <div class="row">
        <div class="col-8">
            OGE Form 450, 5 CFR Part 2634, Subpart I<br />
            U.S. Office of Government Ethics ({{ settings.formVersion }})<br />
            (Replaces {{ settings.replacesVersion }} edition)
        </div>
        <div class="col-4" style="text-align: right;">
            <br />
            Form Approved<br />
            OMB No. 3209-0006
        </div>
    </div>
</div>

<div class="page-top-row">
    <div class="sig-box form-box">
        <div class="control-label">Employee's Name (Print last, first, middle initial)</div>
        <input type="text" class="form-control" value="{{ employeesName }}" />
    </div>
    <div class="page-number form-box">
        <div class="control-label">Page Number</div>
        <input class="pageNumber form-control" type="text" />
    </div>
</div>
