.value-same {
    background-color: white !important;
}

.radio-padding {
    display: inline-block;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.control-label {
    margin-top: 2px;
    display: inline-block;
}
