:host {
    flex: 1;
    display: flex;
    align-content: stretch;
    flex-direction: column;
    min-width: 1024px;
}

.view-container {
    padding: 15px;
}

.details-drawer {
    max-width: 60%;
    padding: 15px;
    margin: 15px 15px 15px 15px;
}

body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 25px;
    line-height: 18px;
    color: #333333;
    background-color: #ffffff;
    /* changes for better demo */
    margin: 20px 0 0;
    text-align: center;
}
