<div id="examples" style="display: none;">
    <div id="partIExample">
        <div class="outer-form-box">
            <div class="row">
                <div class="col-sm-11 form-box">
                    <b>Report the full name of each individual asset,</b> such as a stock, bond, or sector mutual fund. (You may add the
                    ticker symbol to the asset name.) This includes any asset that is an underlying holding of a trust, retirement, or
                    investment account that meets the reporting requirement. Report the type and location of any investment real estate.
                    <br />
                    <b>Report name of employer or business, source of fees, commissions, or honoraria.</b> (Include a brief description.)
                    You may distinguish any entry for a family member by preceding it with (S) for spouse or (DC) for dependent child.
                </div>
                <div class="col-sm-1 form-box">
                    <b>No longer held</b>
                </div>
            </div>
            <div class='row'>
                <div class='col-sm-11 form-box-sm'>
                    OGC Communications (OGC) <i>(Example of a stock with a ticker symbol)</i>
                </div>
                <div class='col-sm-1 form-box text-center'>
                    <i class="fa fa-square-o"></i>
                </div>
            </div>
            <div class='row'>
                <div class='col-sm-11 form-box-sm'>
                    OGE Energy <i>(Example of sold stock that produced more than $1,000 in income that is no longer held)</i>
                </div>
                <div class='col-sm-1 form-box text-center'>
                    <i class="fa fa-check-square-o"></i>
                </div>
            </div>
            <div class='row'>
                <div class='col-sm-11 form-box-sm'>
                    Maryland Prepaid College Trust (MPCT), University Plan — 4 Years <i>(Example of a 529 prepaid tuition plan)</i>
                </div>
                <div class='col-sm-1 form-box text-center'>
                    <i class="fa fa-square-o"></i>
                </div>
            </div>
            <div class='row'>
                <div class='col-sm-11 form-box-sm'>
                    (S) OGE Energy bond <i>(Example of a corporate bond held by a spouse)</i>
                </div>
                <div class='col-sm-1 form-box text-center'>
                    <i class="fa fa-square-o"></i>
                </div>
            </div>
            <div class='row'>
                <div class='col-sm-11 form-box-sm'>
                    ABC Healthcare Fund <i>(Example of a sector fund held in a 401(k) plan, IRA, or brokerage account)</i>
                </div>
                <div class='col-sm-1 form-box text-center'>
                    <i class="fa fa-square-o"></i>
                </div>
            </div>
            <div class='row'>
                <div class='col-sm-11 form-box-sm'>
                    Residential real estate, Anchorage, AK <i>(Example of investment real estate)</i>
                </div>
                <div class='col-sm-1 form-box text-center'>
                    <i class="fa fa-square-o"></i>
                </div>
            </div>
            <div class='row'>
                <div class='col-sm-11 form-box-sm'>
                    Brigadoon University – salary <i>(Example of earned income from a former employer)</i>
                </div>
                <div class='col-sm-1 form-box text-center'>
                    <i class="fa fa-check-square-o"></i>
                </div>
            </div>
            <div class='row'>
                <div class='col-sm-11 form-box-sm'>
                    Widgets Unlimited, unvested restricted stock units <i>(Example of an unvested restricted stock unit from a current employer)</i>
                </div>
                <div class='col-sm-1 form-box text-center'>
                    <i class="fa fa-square-o"></i>
                </div>
            </div>
            <div class='row'>
                <div class='col-sm-11 form-box-sm'>
                    Association of Accountants – honorarium <i>(Example of a single honorarium from the listed source)</i>
                </div>
                <div class='col-sm-1 form-box text-center'>
                    <i class="fa fa-square-o"></i>
                </div>
            </div>
        </div>
    </div>

    <div id="partIIExample">
        <div class="outer-form-box">
            <div class="row">
                <div class="col-sm-4 form-box">
                    <b>Name of creditor</b> <i>(include the city and state where the creditor is located)</i>
                </div>
                <div class="col-sm-8 form-box">
                    <b>Type of liability</b> <i>(personal loan, margin account, etc.)</i>
                </div>
            </div>
            <div class='row'>
                <div class='col-sm-4 form-box-sm'>
                    Jones Capital Venture, LLC, Rockville, MD
                </div>
                <div class='col-sm-8 form-box-sm'>
                    Capital commitment
                </div>
            </div>
        </div>
    </div>

    <div id="partIIIExample">
        <div class="outer-form-box">
            <div class="row">
                <div class="col-sm-5 form-box">
                    <b>Organization</b> (city and state)
                </div>
                <div class="col-sm-3 form-box">
                    <b>Type of organization</b>
                </div>
                <div class="col-sm-3 form-box">
                    <b>Position</b>
                </div>
                <div class="col-sm-1 form-box">
                    <b>No longer held</b>
                </div>
            </div>
            <div class='row'>
                <div class='col-sm-5 form-box-sm'>
                    George & Chapman, LLP, Washington, DC
                </div>
                <div class='col-sm-3 form-box-sm'>
                    Law Firm
                </div>
                <div class='col-sm-3 form-box-sm'>
                    Partner
                </div>
                <div class='col-sm-1 form-box text-center'>
                    <i class="fa fa-check-square-o"></i>
                </div>
            </div>
            <div class='row'>
                <div class='col-sm-5 form-box-sm'>
                    Bestever Elementary School, Buffalo, NY
                </div>
                <div class='col-sm-3 form-box-sm'>
                    Parent Teacher Association
                </div>
                <div class='col-sm-3 form-box-sm'>
                    President
                </div>
                <div class='col-sm-1 form-box text-center'>
                    <i class="fa fa-square-o"></i>
                </div>
            </div>
            <div class='row'>
                <div class='col-sm-5 form-box-sm'>
                    Sunnydale Homeowners Association, Stowe,VT
                </div>
                <div class='col-sm-3 form-box-sm'>
                    Homeowners Association
                </div>
                <div class='col-sm-3 form-box-sm'>
                    Vice President
                </div>
                <div class='col-sm-1 form-box text-center'>
                    <i class="fa fa-check-square-o"></i>
                </div>
            </div>
        </div>
    </div>

    <div id="partIVExample">
        <div class="outer-form-box">
            <div class="row">
                <div class="col-sm-5 form-box">
                    <b>Entity with which you have an agreement or arrangement</b> (include city and state where entity is located)
                </div>
                <div class="col-sm-7 form-box">
                    <b>Terms of Agreement or Arrangement</b>
                </div>
            </div>
            <div class='row'>
                <div class='col-sm-5 form-box-sm'>
                    John Smith, Esq., Park City, UT
                </div>
                <div class='col-sm-7 form-box-sm'>
                    My solo legal practice will be inactive during my appointment, and all
                    outstanding client fees will be fixed before I enter Federal Government service.
                </div>
            </div>
            <div class='row'>
                <div class='col-sm-5 form-box-sm'>
                    Allied Business Computing, Inc., Reston, VA
                </div>
                <div class='col-sm-7 form-box-sm'>
                    Pursuant to company policy for retired corporate officers, my spouse and I
                    will retain health insurance coverage for life.
                </div>
            </div>
            <div class='row'>
                <div class='col-sm-5 form-box-sm'>
                    Icebox Repair Company, Stowe, VT
                </div>
                <div class='col-sm-7 form-box-sm'>
                    I will retain my vested restricted stock units.
                </div>
            </div>
            <div class='row'>
                <div class='col-sm-5 form-box-sm'>
                    GottaGoNow Company, Fort Wayne, IN
                </div>
                <div class='col-sm-7 form-box-sm'>
                    Pursuant to my employment agreement, I will receive a lump sum severance payment
                    within 90 days of my separation from the company.
                </div>
            </div>
        </div>
    </div>

    <div id="partVExample">
        <div class="outer-form-box">
            <div class="row">
                <div class="col-sm-4 form-box">
                    <b>Source</b>
                </div>
                <div class="col-sm-8 form-box">
                    <b>Description</b>
                </div>
            </div>
            <div class='row'>
                <div class='col-sm-4 form-box-sm'>
                    Jane Smith
                </div>
                <div class='col-sm-8 form-box-sm'>
                    iPad, birthday gift from a friend
                </div>
            </div>
            <div class='row'>
                <div class='col-sm-4 form-box-sm'>
                    Epic Views, Grand Canyon, CO
                </div>
                <div class='col-sm-8 form-box-sm'>
                    Helicopter ride over the Grand Canyon
                </div>
            </div>
        </div>
    </div>
</div>
