:host {
    flex: 1;
    display: flex;
    align-content: stretch;
    flex-direction: column;
 }

.form-container {
    display: flex;
    flex: 1;
}

.modal-dialog {
    width: 80% !important;
    padding-top: 30px;
    padding-bottom: 30px;
    max-width: 80% !important;
    margin-left: 265px;
}

.modal-title {
    text-align: center;
}

.home-view {
    padding: 15px;
    display: flex;
    justify-content: center;
}

.home-card {
    width: 1024px;
}
