.detail-row,
.invite-row {
    margin: 4px 10px 0px 10px;
    padding: 0px 15px 3px 15px;
    display: flex;
}

.detail-row,
.column-row {
    border-bottom: 1px solid #aaa;
    gap: 15px;
}

.invite-row {
    gap: 15px;
}

.invite-row > label,
.detail-row > label {
    flex: 1;
}

.column-row {
    flex-direction: column;
}

.detail-row > div {
    flex: 2;
}

label {
    font-weight: bold;
}

.invite-row > span {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.invite-row > div {
    flex: 2;
}

.panel-body .row:last-child {
    border-bottom: 0px;
}

a {
    cursor: pointer;
}

.attendee {
    border-bottom: 2px solid black;
}

.attendee:last-child {
    border-bottom: 0;
}

.panel-body .attendee:last-child {
    border-bottom: 0px;
}

.form-field {
    width: 100%;
}

.form-field > .mat-mdc-form-field-wrapper {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

/************ Validation *****************/
.ng-touched.ng-invalid:not(form),
.ng-dirty.ng-invalid:not(form) {
    border-left: 5px solid #a94442; /* red */
}

.mat-mdc-expansion-panel-header-title {
    font-size: 1.3em;
    font-weight: 400;
}

.detail-row:last-child,
.column-row:last-child {
    border-bottom: 0;
}

.panel-header {
    background-color: #f1f1f1 !important;
}

.panel-header:hover {
    background-color: #d8b3044d !important;
}
