:host {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.drawer-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    margin-bottom: 15px;
}
