:host {
    flex: 1;
    display: flex;
    align-content: stretch;
    flex-direction: column;
    min-width: 1024px;
}

.view-container {
    padding: 15px;
}

.widget {
    display: flex;
    flex: 0 0 33.333%;
    padding: 5px;
}

.details-drawer {
    min-width: 425px;
    padding: 15px;
    margin: 15px 15px 15px 15px;
}

.mat-form-field {
    flex: 1;
    padding-right: 15px;
}

.form-status {
    display: flex;
    justify-content: space-between;
}

.widget-row {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.form-tab {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: stretch;
}

.batch-button {
    margin-left: 15px;
}
