<mat-drawer-container>
    <mat-drawer #drawer mode="over" position="end" class="details-drawer" (closedStart)="drawerClosing()" [opened]="false" [autoFocus]="false">
        <div class="drawer-container">
            <button mat-icon-button type="button" (click)="drawer.close()" class="drawer-close"><mat-icon>close</mat-icon></button>
            <div *ngIf="selectedForm">
                <app-form-details [form]="selectedForm" [reviewers]="reviewers" [accessLevel]="formAccessLevel" (save)="saveForm($event)" (view)="viewForm($event)" (cancel)="cancelForm($event)" [canExtend]="canExtend" (extend)="addExtension($event)"></app-form-details>
            </div>
            <div *ngIf="selectedForms">
                <app-form-multiple-edit [forms]="selectedForms" [reviewers]="reviewers" (save)="assignMultiple(selectedForms, $event)"></app-form-multiple-edit>
            </div>
            <div *ngIf="selectedExtension">
                <app-extension-request [extension]="selectedExtension" (save)="saveExtension($event)" (approve)="approveExtension($event)" (reject)="rejectExtension($event)"></app-extension-request>
            </div>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <div class="view-container" fxLayoutAlign="start start">
            <mat-card>
                <div class="widget-row">
                    <div class="widget">
                        <app-widget [data]="submittedWidget" icon="all_inbox" (widgetClick)="onSubmittedClick()"></app-widget>
                    </div>
                    <div class="widget">
                        <app-widget [data]="readyToCertWidget" icon="verified" (widgetClick)="onReadyToCertClick()"></app-widget>
                    </div>
                    <div class="widget">
                        <app-widget [data]="extensionWidget" icon="schedule" (widgetClick)="onExtensionClick()"></app-widget>
                    </div>
                    <div class="widget">
                        <app-widget [data]="overdueWidget" icon="hourglass_bottom" (widgetClick)="onOverdueClick()"></app-widget>
                    </div>
                </div>
                <div style="margin-top: 20px;">
                    <mat-tab-group mat-stretch-tabs="false" [selectedIndex]="selectedIndex" (selectedIndexChange)="selectedIndex = $event">
                        <mat-tab label="Forms">
                            <div class="form-tab">
                                <app-form-table #dtForms key="reviewer" [selectable]="true" [reviewers]="reviewers" (rowSelect)="onFormSelect($event)" (certifyClicked)="certifyForms($event)" (assignClicked)="assignForms($event)"></app-form-table>
                            </div>
                        </mat-tab>
                        <mat-tab label="Extensions">
                            <app-extension-table #dtExtensions key="reviewer-ext" [selectable]="true" (rowSelect)="onExtensionSelect($event)"></app-extension-table>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </mat-card>
        </div>
    </mat-drawer-content>
</mat-drawer-container>
