<div class="timeline">
    <div class="timeline__event  animated fadeInUp delay-3s timeline__event--type1">
        <div class="timeline__event__icon ">
            <mat-icon>feed</mat-icon>
        </div>
        <div class="timeline__event__date">
            Feb 02, 2023
        </div>
        <div class="timeline__event__content ">
            <div class="timeline__event__title">
                OGE Form 450 Approved
            </div>
            <div class="timeline__event__description">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. </p>
            </div>
        </div>
    </div>
    <div class="timeline__event animated fadeInUp delay-2s timeline__event--type2">
        <div class="timeline__event__icon">
            <mat-icon>balance</mat-icon>            
        </div>
        <div class="timeline__event__date">
            Feb 01, 2023
        </div>
        <div class="timeline__event__content">
            <div class="timeline__event__title">
                Annual Ethics Training
            </div>
            <div class="timeline__event__description">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. </p>
            </div>
        </div>
    </div>
    <div class="timeline__event animated fadeInUp delay-1s timeline__event--type3">
        <div class="timeline__event__icon">
            <mat-icon>event_available</mat-icon>
        </div>
        <div class="timeline__event__date">
            Jan 20, 2023
        </div>
        <div class="timeline__event__content">
            <div class="timeline__event__title">
                Event Request Approved
            </div>
            <div class="timeline__event__description">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. </p>
            </div>

        </div>
    </div>
    <div class="timeline__event animated fadeInUp timeline__event--type1">
        <div class="timeline__event__icon">
            <mat-icon>feed</mat-icon>
        </div>
        <div class="timeline__event__date">
            Jan 15, 2023
        </div>
        <div class="timeline__event__content">
            <div class="timeline__event__title">
                OGE Form 450 Submitted
            </div>
            <div class="timeline__event__description">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. </p>
            </div>
        </div>
    </div>

</div>
