:host {
    flex: 1;
    display: flex;
    align-content: stretch;
    flex-direction: column;
    min-width: 1024px;
}

.mat-mdc-card-content {
    border-top: 1px solid #f1f1f1;
    padding-top: 15px;
    margin-top: 5px;
}

.report-row {
    display: flex;
    gap: 30px;
    width: 100%;
    padding: 15px 7.5px;
}

.report-card {
    flex: 1;
    display: flex;
}

.mat-mdc-card-header {
    flex: 1;
    padding: 5px 15px 0;
}

:host ::ng-deep .mat-mdc-card-header-text {
    flex: 1;
}

.mat-mdc-card-title {
    display: flex;
    align-items: center;
}

.title {
    flex: 2;
}
