<div class="report-row">
    <mat-card class="report-card">
        <mat-card-header>
            <mat-card-title>
                <span class="title">OGE Form 450</span>
                <button mat-flat-button (click)="gotoReport('EOY')"><mat-icon>dashboard</mat-icon>EOY Report</button>
                <button mat-icon-button class="icon-button" (click)="refresh('450Status')"><mat-icon>refresh</mat-icon></button>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <app-oge-form450-status-chart #ogeForm450Chart></app-oge-form450-status-chart>
        </mat-card-content>
    </mat-card>

    <mat-card class="report-card">
        <mat-card-header>
            <mat-card-title>
                <span class="title">Training ({{selectedYear}})</span>
                <button mat-icon-button class="icon-button" [matMenuTriggerFor]="trainingMenu"><mat-icon>menu</mat-icon></button>
                <mat-menu #trainingMenu="matMenu">
                    <button mat-menu-item disabled>Missing Training Reports</button>
                    <button mat-menu-item (click)="downloadTrainingReport('missingAnnual', 0)">
                        <span>{{selectedYear}} Missing Annual</span>
                    </button>
                    <button mat-menu-item (click)="downloadTrainingReport('initial', 366)">
                        <span>{{selectedYear}} Missing Initial</span>
                    </button>
                    <button mat-menu-item (click)="downloadTrainingReport('initial', 30)">
                        <span>{{selectedYear}} Missing Initial 30 days</span>
                    </button>
                    <button mat-menu-item (click)="downloadTrainingReport('initial', 60)">
                        <span>{{selectedYear}} Missing Initial 60 days</span>
                    </button>
                    <button mat-menu-item (click)="downloadTrainingReport('initial', 90)">
                        <span>{{selectedYear}} Missing Initial 90 days</span>
                    </button>
                    <button mat-menu-item disabled>Select a Year:</button>
                    <button mat-menu-item *ngFor="let year of years" (click)="changeTrainingYear(year)">{{year}}</button>
                </mat-menu>
                <button mat-icon-button class="icon-button" (click)="refresh('Training')"><mat-icon>refresh</mat-icon></button>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <app-training-chart #trainingChart [year]="currentYear"></app-training-chart>
        </mat-card-content>
    </mat-card>
</div>
<div class="report-row">
    <mat-card class="report-card">
        <mat-card-header>
            <mat-card-title>
                <span class="title">Event Clearance</span>
                <button mat-icon-button class="icon-button" (click)="refresh('Events')"><mat-icon>refresh</mat-icon></button>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <app-event-request-chart #eventChart></app-event-request-chart>
        </mat-card-content>
    </mat-card>
</div>

<!--<div class="report-row">
    <mat-card class="report-card">
        <mat-card-header>
            <mat-card-title>
                <span class="title">Self Reported Training</span>
                <button mat-icon-button class="icon-button"><mat-icon>refresh</mat-icon></button>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            table goes here...
        </mat-card-content>
    </mat-card>
</div>-->
