.unresolvedPicker {
    font-style: italic;
    color: #a94442;
}

.resolvedPicker {
    text-decoration: underline;
}

.mat-option {
    line-height: inherit;
    border-bottom-color: #DDD;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.peoplePickerContainer {
    display: inline-block;
    width:100%;
}

.peoplePickerResults {
    width: 100%;
}

.peoplePickerText {
    line-height: normal;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 25px;
}

.mainResultPicker {
    font-size: 14px;
    font-family: "Segoe UI Regular WestEuropean","Segoe UI",Tahoma,Arial,sans-serif;
    font-weight: 400;
    color: #333;
    padding-top: 4px;
}

.secResultPicker {
    font-size: 12px;
    color: #666;
    font-family: "Segoe UI Regular WestEuropean","Segoe UI",Tahoma,Arial,sans-serif;
    font-weight: 400;
    margin-top: 2px;
}

.not-found-msg {
    margin-top: -1.59375em;
}

.mat-progress-bar {
    margin-top: -1.59375em;
}

.mat-form-field {
    width: 100%;
}
