<form class="peoplePickerContainer">
    <mat-form-field appearance="outline" class="inline-form-field">
        <mat-label>Employee</mat-label>
        <input matInput [matAutocomplete]="auto" #term [formControl]="termControl" (focus)="onTouch($event)" (keydown)="keyDown($event)" (keyup)="search(term.value, $event);"
               class="peoplePickerText" placeholder="Start typing employee name" [attr.required]="required != null"/>
    </mat-form-field>
    <div *ngIf="resultedItems != null && resultedItems?.length == 0 && !searching && searchTerm.length > 2 && term.value.length > 2 && term.value != selectedEmp?.displayName" class="alert alert-danger not-found-msg">
        No results found for '{{term.value}}'
    </div>
    <mat-progress-bar mode="indeterminate" *ngIf="searching"></mat-progress-bar>

    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectionChange($event.option.value, $event)" (closed)="autocompleteClosed($event)">
        <div>
            <mat-option *ngFor="let item of resultedItems" [value]="item"
                        [matTooltip]="item.emailAddress + ' - ' + item.displayName">
                <div class="mainResultPicker">{{item.displayName}}</div>
                <div class="secResultPicker">{{item.title}}</div>
            </mat-option>
        </div>
    </mat-autocomplete>
</form>
