:host {
    flex: 1;
    display: flex;
    align-content: stretch;
    flex-direction: column;
    min-width: 1024px;
}

.training-view {
    padding: 15px;
}

.details-drawer {
    padding: 15px;
    margin: 15px 15px 15px 15px;
    width: 650px;
}

.drawer-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mat-mdc-form-field {
    flex: 1;
    padding-right: 15px;
}
