.info-box {
    display: table;
}

.icon-box {
    display: table-cell;
    width: 46px;
    vertical-align: middle;
}

.mat-mdc-card {
    padding: 0px !important;
    border-radius: 5px;
}

.mat-mdc-card-header {
    padding: 15px 15px 0px 15px;
    border-bottom: 2px solid #f1f1f1;
}

mat-selection-list {
    padding-top: 0px !important;
}

.mat-mdc-list-option {
    padding: 10px 0 !important;
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    height: auto !important;
}

.icon {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    color: white;
    text-align: center;
    vertical-align: middle;
    margin-right: 10px;
}

.icon > mat-icon {
    margin-top: 7px;
    font-size: 1.4em;
}

.info-text {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.no-records {
    margin-top: 10px;
    text-align: center;
}

.oge450Class {
    background-color: #26c6da;
}

.trainingClass {
    background-color: #ffa726;
}

.guidanceClass {
    background-color: #3C4858;
}

.ethicsFormClass {
    background-color: #ff0000;
}

.ethicsTeamClass {
    background-color: #bbb;
}

.eventClass {
    background-color: #66bb6a;
}

.otherClass {
    background-color: #8a8a8a;
}
