.mat-mdc-form-field {
    width: 100%;
}

.guidance-form {
    display: flex;
    flex-direction: column;
}

app-employee-card {
    margin-bottom: 15px;
}

.button-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
