<div class="employment-view">
    <mat-card class="employment-card">
        <div id="employment">
            <app-outside-position-form></app-outside-position-form>
            <div class="alert alert-success alert-fixed" id="success-alert" style="display: none; margin-top: 145px;">
                <div type="button" class="close" data-dismiss="alert">x</div>
                <strong>Success! </strong>
                Outside Employment saved successfully.
            </div>
        </div>
    </mat-card>
</div>
