
.body {
    flex: 1;
    display: flex;
    margin-bottom: 10px;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}

details {
    flex: 1;
    display: flex;
    flex-direction: column;
}

h2, h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0px 3px 0px;
}

.employee-row {
    flex: 1;
    margin: 0px 0px 3px 0px;
    display: flex;
}

.employee-row > span {
    padding-left: 10px;
}

.link {
    cursor: pointer;
}

.details-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.label-over {
    display: flex;
    flex-direction: column;
}   
