<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<modules>
				<remove name="WebDAVModule" />
			</modules>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
				<remove name="WebDAV" />
			</handlers>
			<rewrite>
				<rules>
					<remove name="Angular2 Routes" />
				</rules>
			</rewrite>
			<aspNetCore processPath="%LAUNCHER_PATH%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
				<environmentVariables>
					<environmentVariable name="ASPNETCORE_HTTPS_PORT" value="44353" />
					<environmentVariable name="COMPLUS_ForceENC" value="1" />
					<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
					<environmentVariable name="MOD_Ethics_ConnectionString" value="[Ethics Db Connection String]" />
					<environmentVariable name="MOD_User_ConnectionString" value="[User Db Connection String]" />
					<environmentVariable name="MOD_Ethics_SystemAdminGroups" value="[Insert AD Groups, comma seperated]" />
					<environmentVariable name="MOD_Ethics_ReviewerGroups" value="[Insert AD Groups, comma seperated]" />
					<environmentVariable name="MOD_Ethics_SupportGroups" value="[Insert AD Groups, comma seperated]" />
				</environmentVariables>
			</aspNetCore>
		</system.webServer>
	</location>
</configuration>
<!--ProjectGuid: 92d9360a-c5f6-46aa-99f9-49beeb4211ec-->