<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<location>
		<system.webServer>
			<aspNetCore>
				<environmentVariables>
					<environmentVariable xdt:Transform="Replace" xdt:Locator="Match(name)" name="ASPNETCORE_ENVIRONMENT" value="Stage" />
					<environmentVariable xdt:Transform="Replace" xdt:Locator="Match(name)" name="MOD_Ethics_ConnectionString" value="Server=spc-sql-06;Database=ethics.staging.omb.gov;Integrated Security=true;" />
					<environmentVariable xdt:Transform="Replace" xdt:Locator="Match(name)" name="MOD_Ethics_SystemAdminGroups" value="SG-EthicsPortal-SysAdmin-Test" />
					<environmentVariable xdt:Transform="Replace" xdt:Locator="Match(name)" name="MOD_Ethics_ReviewerGroups" value="SG-EthicsPortal-OGC-Test" />
					<environmentVariable xdt:Transform="Replace" xdt:Locator="Match(name)" name="MOD_Ethics_SupportGroups" value="SG-EthicsPortal-GCSupport-Test" />
				</environmentVariables>
			</aspNetCore>
		</system.webServer>
	</location>
</configuration>