<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<location>
		<system.webServer>
			<aspNetCore>
				<environmentVariables>
					<environmentVariable xdt:Transform="Replace" xdt:Locator="Match(name)" name="ASPNETCORE_ENVIRONMENT" value="Prod" />
					<environmentVariable xdt:Transform="Replace" xdt:Locator="Match(name)" name="MOD_Ethics_ConnectionString" value="[Ethics Db Connection String]" />
					<environmentVariable xdt:Transform="Replace" xdt:Locator="Match(name)" name="MOD_User_ConnectionString" value="[User Db Connection String]" />
					<environmentVariable xdt:Transform="Replace" xdt:Locator="Match(name)" name="MOD_Ethics_SystemAdminGroups" value="[Insert AD Groups, comma seperated]" />
					<environmentVariable xdt:Transform="Replace" xdt:Locator="Match(name)" name="MOD_Ethics_ReviewerGroups" value="[Insert AD Groups, comma seperated]" />
					<environmentVariable xdt:Transform="Replace" xdt:Locator="Match(name)" name="MOD_Ethics_SupportGroups" value="[Insert AD Groups, comma seperated]" />
				</environmentVariables>
			</aspNetCore>
		</system.webServer>
	</location>
</configuration>