
.drawer-header-row {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
}

h1 {
    margin-bottom: 5px !important;
}

.drawer-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}


.label-over {
    display: flex;
    flex-direction: column;
}

.extension-details {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.workflow-buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
}

.save-buttons {
    display: flex;
    align-items: stretch;
}

.save-buttons > button {
    width: 100%;
}

.big-icon {
    font-size: 32px;
    margin-right: 15px;
    color: #17a2b8;
}

.message-info {
    border: 1px solid #bce8f1;
    background-color: #d9edf7;
    color: #31708f;
    padding: 15px;
    border-radius: 5px;
    max-width: 375px;
}
